body {
    font-family: Verdana;    
    text-align: center;
    margin: 0;
}
.skrollable {
    padding: 10%;
}
#skrollr-body-holder {
    text-align: left;
}
#skrollr-body {
}
#intro {
    height: 100%;
    background-color: #4174ec;
    color: #FFF;
}
.player {
    background-image: url('../img/player-50.gif');
    background-repeat: no-repeat;
    width: 50px;
    height: 128px;
}
.placeHolder {
    margin-top: 5000px;
}